$mainTextColor: black;
$secondaryTextColor: white;

$mainBgColor: white;
$secondaryBgColor: rgb(156, 156, 156);

$borderColor: gray;
$secondaryBorderColor: rgb(48, 47, 47);

$accentColor: maroon;
$infoColor: green;