@use '/src/common/styles/template' as *;

.light{
    @extend %light;
}
.dark{
    @extend %dark;
}
.header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    a{
        color: inherit;
        background-color: inherit;
        text-decoration: none;
        padding: 0px 20px 5px;
        margin: 0px 10px;
        border-radius: 10px;
        text-transform: uppercase
    }
}
.themeBtn{
    border: none;
    padding-left: 20px;
}
.welcome{
    display: flex;
    margin: 0;
}