.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    label {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
}
.button {
    color: inherit;
    background-color: inherit;
    padding: 5px 20px 5px;
    margin: 0;
    border: 2px solid;
    border-radius: 10px;
    text-decoration: none;
}
.error {
    color: red;
}